* {
  box-sizing: border;
  margin: 0;
  padding: 0;
}

.div1 {
  height: 60px;
  background-color: #353535;
  color: #ffffff;
  display: flex;
  align-items: center;
}

.div1 h1 {
  padding-left: 30px;
}

.div2 {
  height: 350px;
  background-image: url('../images/banner_img.jpg');
  background-size: cover;
}

.div3 {
  height: 320px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.div3-wrapper {
  padding: 0 30px;
}

.label {
  color: #4a4a4a;
}

.div3 h2 {
  font-size: 20px;
  color:#1b1b1b;
  margin-top: 10px;
  margin-bottom: 30px;
}

.div3 {
  color: #7A7A7A;
}

.div4 {
  height: 385px;
  background-image: url('../images/img1.jpg');
  background-size: cover;
  background-position: center top;

}

.div5 {
  height: 200px;
  background-image: url('../images/img2.jpg');
  background-size: cover;
  background-position: center top;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.div5 a {
  text-decoration: none;
  border: 3px solid #ffffff;
  color: #ffffff;
  padding: 9px 40px;
}

.div6 {
  height: 200px;
  background-image: url('../images/img3.jpg');
  background-size: cover;
  background-position: center;
}


@media (min-width: 769px) {
 
  .div4 {
    height: 360px;
    float:left;
    width: 50%;
  }

  .div5 {
    float: left;
    height: 180px;
    width: 50%;
  }

  .div6 {
    float: left;
    height: 180px;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .div2 {
    width: 50%;
    height: 700px;
    float: left;
  }  

  .div3 {
    width: 50%;    
    height: 350px;
    float: left;
  }

  .div4 {
    width: 25%;
    height: 350px;
    float: left;
  }

  .div5 {
    width: 25%;
    height: 175px;
    float: left;
  }

  .div6 {
    width: 25%;
    height: 175px;
    float: left; 
  }
/*   change from remote */
}
