* {
  box-sizing: border;
}

.div1 {
  height: 60px;
  background-color: red;
}

.div2 {
  height: 350px;
  background-color: orange;
}

.div3 {
  height: 320px;
  background-color: yellow;
}

.div4 {
  height: 385px;
  background-color: green;
}

.div5 {
  height: 200px;
  background-color: blue;
}

.div6 {
  height: 200px;
  background-color: purple;
}

@media (min-width: 769px) {
 
  .div4 {
    height: 360px;
    float:left;
    width: 50%;
  }

  .div5 {
    float: left;
    height: 180px;
    width: 50%;
  }

  .div6 {
    float: left;
    height: 180px;
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .div2 {
    width: 50%;
    height: 700px;
    float: left;
  }  

  .div3 {
    width: 50%;    
    height: 350px;
    float: left;
  }

  .div4 {
    width: 25%;
    height: 350px;
    float: left;
  }

  .div5 {
    width: 25%;
    height: 175px;
    float: left;
  }

  .div6 {
    width: 25%;
    height: 175px;
    float: left; 
  }
/*   change from remote */
}
